:root {
	--theme-color-light: #f9fafc;
	--theme-color-softlight: #cbdcdf;
	--theme-color-accent: #00b4d8;
	--theme-color-fg: #030425;
}

body {
	margin: 0;
	padding: 0;
	color: var(--theme-color-fg);
}
