:root {
  --theme-color-light: #f9fAfC;
  --theme-color-softlight: #90E0EF;
  --theme-color-accent: #00B4D8;
  --theme-color-accent-reverse: #ffee00;
  --theme-color-dark: #023E8A;
  --theme-color-text: #030425;
}

body {
  margin: 0;
  padding: 0;
  color: var(--theme-color-text);
}
